{% extends 'base.html.twig' %}

{% block title %}Édition d'un médicament{% endblock %}

{% block body %}
    {{ include('drug/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="mt-4">
        <a href="{{ path('app_drug_index') }}" class="btn btn-sm btn-warning float-start">back to list</a>
        {{ include('drug/_delete_form.html.twig') }}
    </div>
{% endblock %}
