{% extends 'base.html.twig' %}

{% block title %}Edit Drug{% endblock %}

{% block body %}
    <h1>Edit Drug</h1>

    {{ include('drug/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_drug_index') }}">back to list</a>

    {{ include('drug/_delete_form.html.twig') }}
{% endblock %}
