{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drug in drugs %}
            <tr>
                <td>{{ drug }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_drug_show', {'id': drug.id}) }}">show</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_drug_edit', {'id': drug.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('app_drug_new') }}" class="btn btn-primary">Nouveau</a>
    </div>
{% endblock %}
