{% extends 'base.html.twig' %}

{% block title %}Création d'un médicament{% endblock %}

{% block body %}
    {{ include('drug/_form.html.twig') }}

    <div class="mt-4">
        <a href="{{ path('app_drug_index') }}" class="btn btn-sm btn-warning float-start">back to list</a>
    </div>
{% endblock %}
