.page-title {
    padding: 20px;
    background-color: #000;
    color: white;
    margin-bottom: 30px;
}

.green-row {
    background-color: #c5f9c5;
}

.bg-light-grey {
    background-color: lightgray !important;
}