{% extends 'base.html.twig' %}

{% block title %}Édition d'une pharmacie{% endblock %}

{% block body %}
    {{ include('pharmacy/_form.html.twig', {'button_label': 'Soumettre'}) }}

    <div class="mt-4">
        <a href="{{ path('app_pharmacy_index') }}" class="btn btn-sm btn-warning float-start">Retour</a>
        {{ include('pharmacy/_delete_form.html.twig') }}
    </div>
{% endblock %}