{% extends 'base.html.twig' %}

{% block title %}Liste des pharmacies{% endblock %}

{% block body %}
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pharmacy in pharmacies %}
            <tr>
                <td>{{ pharmacy.name }}</td>
                <td>
                    <a class="btn btn-sm btn-info" href="{{ path('app_pharmacy_show', {'id': pharmacy.id}) }}">voir</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_pharmacy_edit', {'id': pharmacy.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-sm btn-primary" href="{{ path('app_pharmacy_new') }}">Nouveau</a>
{% endblock %}
