{% extends 'base.html.twig' %}

{% block title %}Création d'une pharmacie{% endblock %}

{% block body %}
    {{ include('pharmacy/_form.html.twig') }}

    <div class="mt-4">
        <a class="btn btn-sm btn-warning" href="{{ path('app_pharmacy_index') }}">Retour</a>
    </div>
{% endblock %}
