{% for weekDay, weekPill in pillWeeks %}
    <tr>
        <th class="bg-light-grey text-center">
            {{ weekDay }}
        </th>
        <td>
            <div class="row">
                {% for pills in weekPill %}
                    <div class="col-md-4">
                        {% if loop.index == 1 %}
                            <b>Matin</b>
                        {% elseif loop.index == 2 %}
                            <b>Midi</b>
                        {% else %}
                            <b>Soir</b>
                        {% endif %}

                        {% for pill in pills %}
                            <p>{{ pill.quantity }} x {{ pill.drug }}</p>
                        {% else %}
                            <p>Aucun médicament prescris</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
{% endfor %}